.password {
    margin-top: 5rem;
    margin-left: 20rem;
    width: 60%;
    background-color: #f4f0fa;
    text-align: center;
    
}

.password input, label {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    
}


.password button {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-left: 25rem;
}