.compose {
    position: fixed;
    width: 40%;
    margin: 5rem;
    margin-left: 55rem;
    background-color: rgb(242, 246, 246);
    
}

.compose Button {
    margin-top: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}